{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">

            <ol class="breadcrumb">
                <li><a href="{{ path('world_configure', {'world': world.id}) }}">Configure {{ world.name }}</a></li>
                <li class="active">Create Policy</li>
            </ol>

            <h1>Create Policy in {{ world.name }}</h1>
            {% include 'CronkdBundle:Policy/partials:form.html.twig' with {'action': 'Create'} %}

        </div>
    </div>
{% endblock %}