<div class="row clearfix" style="font-size: 24px;">
    <div class="col-md-12">
        {% include 'CronkdBundle:Default:partials/kingdom/kingdom_card.html.twig' %}
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12">
        {% include 'CronkdBundle:Default:partials/kingdom/queues.html.twig' %}
    </div>
</div>