<div class="row clearfix" style="font-size: 24px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table">
                <tbody>
                <tr>
                    <td title="World"><i class="fa fa-globe"></i> <strong>{{ world.name }}</strong></td>
                    <td title="Net Worth">
                        <a href="{{ path('world_show', {'id': world.id}) }}">
                            <i class="fa fa-line-chart"></i>
                        </a>
                        {{ worldState.aggregateNetWorth|filterNumber }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        {% include 'CronkdBundle:World:partials/kingdomScores.html.twig' %}
    </div>
</div>