<div class="row clearfix" style="font-size: 24px;">
    <div class="col-md-12">
        {% include 'CronkdBundle:World:partials/world_card.html.twig' %}
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-line-chart"></i> Networth</h3>
            </div>
            {% include 'CronkdBundle:World:partials/kingdomsByNetworth.html.twig' %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-trophy"></i> ELO</h3>
            </div>
            {% include 'CronkdBundle:World:partials/kingdomsByElo.html.twig' %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Win - Loss</h3>
            </div>
            {% include 'CronkdBundle:World:partials/kingdomsByWinLoss.html.twig' %}
        </div>
    </div>
</div>