{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">

            {% if is_granted("ROLE_ADMIN") %}
            <div class="col-md-8 col-md-offset-2">
                <div class="pull-right">
                    <a class="btn btn-success" href="{{ path('world_create') }}"><i class="fa fa-plus"></i> Create New World</a>
                </div>
            </div>
            {% endif %}

            <div class="col-md-8 col-md-offset-2">
                {% if activeWorlds|length > 0 %}
                    <h2>Active Worlds</h2>
                    {% include '@Cronkd/World/partials/worldTable.html.twig' with {'worlds': activeWorlds} %}
                {% endif %}
            </div>

            <div class="col-md-8 col-md-offset-2">
                {% if upcomingWorlds|length > 0 %}
                    <h2>Upcoming Worlds</h2>
                    {% include '@Cronkd/World/partials/worldTable.html.twig' with {'worlds': upcomingWorlds} %}
                {% endif %}
            </div>

            <div class="col-md-8 col-md-offset-2">
                {% if inactiveWorlds|length > 0 %}
                    <h2>Inactive Worlds</h2>
                    {% include '@Cronkd/World/partials/worldTable.html.twig' with {'worlds': inactiveWorlds} %}
                {% endif %}
            </div>

            {% if is_granted("ROLE_ADMIN") %}
            <div class="col-md-8 col-md-offset-2">
                <div class="pull-right">
                    <a class="btn btn-success" href="{{ path('world_create') }}"><i class="fa fa-plus"></i> Create New World</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}