{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">

            <h1>Update {{ world.name }}</h1>
            {% include 'CronkdBundle:World/partials:form.html.twig' with {'action': 'Update'} %}

        </div>
    </div>
{% endblock %}