{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">

        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#introduction" data-toggle="tab">Introduction</a></li>
                <li role="presentation"><a href="#resources" data-toggle="tab">Resources</a></li>
                <li role="presentation"><a href="#spying-and-attacking" data-toggle="tab">Spying and Attacking</a></li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="introduction">
                    {% include 'CronkdBundle:Help:pages/introduction.html.twig' %}
                </div>

                <div class="tab-pane" id="resources">
                    {% include 'CronkdBundle:Help:pages/resources.html.twig' %}
                </div>

                <div class="tab-pane" id="spying-and-attacking">
                    {% include 'CronkdBundle:Help:pages/spying_and_attacking.html.twig' %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}