<h2>Spying</h2>
<ul>
    <li><strong>Spy</strong> on other kingdoms for information about their Military and other resources.</li>
    <li>The more Spies you send to another kingdom, the more likely it is your spy attempt will succeed.</li>
    <li>Spies you send on a spy attempt are queued for return over 8 hours (like other resources).</li>
</ul>

<h2>Attacking other Kingdoms</h2>
<ul>
    <li><strong>Attack</strong> kingdoms successfully to steal their resources and accelerate your growth.</li>
    <li>Build a strong <strong>Military</strong> so that you may defeat other kingdoms' defending army on the battlefield.  If you send more power in your attack, you will be the victor.</li>
    <li>If you win an attack, you will be awarded with 20% of your opponent's available Civilians, 50% of their available Material, and 1% of their Housing.</li>
    <li>Loser of an attack loses 20% of their Civilians.</li>
    <li>You may only attack once per Tick, so make it count!</li>
    <li>View other kingdoms' <i class="fa fa-tint"></i> <strong>Liquidity</strong> and <i class="fa fa-line-chart"></i> <strong>Net Worth</strong> to determine kingdom strength and vulnerability.</li>
</ul>
</div>