{% extends '::base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cronkd/css/chat.css') }}">
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Live Chat</div>
                <div class="panel-body">
                    {% include 'CronkdBundle:Chat:partials/chat.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}