{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">

            <h1>Create Resource in {{ world.name }}</h1>
            {% include 'CronkdBundle:Resource/partials:form.html.twig' with {'action': 'Create'} %}

        </div>
    </div>
{% endblock %}