<ul>
    <li>You are the ruler of a <i class="fa fa-fort-awesome"></i> <strong>kingdom</strong> in a <i class="fa fa-globe"></i> <strong>world</strong> full kingdoms created by other users like yourself.</li>
    <li>Manage <strong>resources</strong> to help your kingdom grow.  Produce <i class="fa fa-cubes"></i> materials, build <i class="fa fa-home"></i> housing, train <i class="fa fa-fighter-jet"></i> military or <i class="fa fa-user-secret"></i> hackers.</li>
    <li>Time steps forward once per hour on the hour.  Resources use a unique queueing system and will usually be delivered over 8 hours.</li>
    <li>Use hackers to get information about other kingdoms including their available resources and defenses.</li>
    <li>Attack other kingdoms to steal resources for your kingdom.  Send more military points than they have at home.</li>
    <li>But beware!  This is a <i class="fa fa-globe"></i> <a href="{{ path('worlds') }}">world</a> full of other kingdoms watching your defenses for the right time to invade.</li>
</ul>