{% extends '::base.html.twig' %}

{% block content %}
    <div>
        <h1>Map</h1>
        <a href="{{ path('kingdom_map_tile') }}" class="btn btn-default">Move Kingdom / Set New Map Tile (kingdom_map_tile)</a>
    </div>
{% endblock %}