{% if not queueData.queues|length %}
    <p>No active {{ queueData.kingdomResource.resource.name }}.</p>
{% else %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><strong>Tick</strong></th>
            {% for queue in queueData.queues %}
                <th>{{ queue.tick }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><strong>{{ queueData.kingdomResource.resource.name }}</strong></th>
            {% for queue in queueData.queues %}
                <td>{{ queue.quantity }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endif %}