<table class="table table-bordered">
    <thead>
    <tr>
        <th>Tick</th>
        <th>Log Type</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for log in recentLogs %}
        <tr>
            <td>{{ log.tick }}</td>
            <td>{{ log.type }}</td>
            <td>{{ log.log }}</td>
    {% endfor %}
    </tbody>
</table>