{% set resourceNames = ['Civilian', 'Material', 'Housing', 'Military', 'Hacker'] %}

<table class="table table-bordered">
    <tbody>
    <tr>
        <td style="background-color: #f5f5f5;">
            Available
        </td>
        {% for resourceName in resourceNames %}
            {% for resourceQueues in queues %}
                {% if resourceQueues.kingdomResource.resource.name == resourceName %}
                    <td title="{{ resourceName }}">
                        <strong>{{ resourceQueues.kingdomResource.quantity|number_format }}</strong>
                        {% if resourceQueues.kingdomResource.resource.name == 'Civilian' %}
                            <i class="fa fa-user fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Housing' %}
                            <i class="fa fa-home fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Material' %}
                            <i class="fa fa-usd fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Military' %}
                            <i class="fa fa-fighter-jet fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Hacker' %}
                            <i class="fa fa-laptop fa-fw"></i>
                        {% endif %}
                        {{ resourceName }}
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <td title="Liquid" style="background-color: #f5f5f5;">
            <strong>{{ kingdom.liquidity|number_format }}</strong> <i class="fa fa-tint fa-fw"></i> Liquid
        </td>
    </tr>
    </tbody>
</table>