<table class="table table-bordered">
    <thead>
    <tr>
        {% for resource in kingdom.resources %}
            <th>{{ resource.resource.name }}</th>
        {% endfor %}
        <th>Networth</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for resource in kingdom.resources %}
            <td>{{ resource.quantity }}</td>
        {% endfor %}
        <td>{{ kingdom.networth }}</td>
    </tr>
    </tbody>
</table>