{% extends '::base.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2">
                {{ render(controller('CronkdBundle:Kingdom:getKingdomPanelComponent')) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2 text-center">
                <a data-toggle="modal" data-target="#resetKingdomModal" class="btn btn-lg btn-success">Reset Kingdom and Earn Technology Points</a>
            </div>
        </div>
    </div>

    <div id="resetKingdomModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Really reset Kingdom?</h4>
                </div>
                <div class="modal-body">
                    <p>This will restore your kingdom to its initial state.  Are you sure you want to do this?  You will lose all resources you have accumulated over time, but you will gain Technology Points which can be used to purchased Technology.</p>
                    <p>If you reset your kingdom now, you will gain <strong>{{ techPointsEarned }}</strong> Technology!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="{{ path('kingdom_reset') }}" class="btn btn-success">Yes, reset!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}