{% extends '::base.html.twig' %}

{% block content %}
    <div style="margin: 0 auto; max-width: 600px;">
        <h1>CronKD Blog</h1>
        <ul>
            <li><a href="blog/1">Hello World</a></li>
        </ul>
    </div>
{% endblock %}