{% if kingdomHasActivePolicy is defined and not kingdomHasActivePolicy %}
    <a href="{{ path('policy_select', {id: kingdom.id}) }}" class="btn btn-success">Select Policy</a>
{% else %}
    <div><strong>{{ kingdom.activePolicy.policy.name }}</strong></div>
    <div class="text-muted"><em>time remaining: {{ policy_end_string }}</em></div>
{% endif %}