{% set resourceNames = ['Civilian', 'Material', 'Housing', 'Military', 'Hacker'] %}

{% set minTick = world.tick + 1 %}
{% set maxTick = world.tick + 8 %}

{% for resourceQueues in queues %}
    {% for queue in resourceQueues.queues %}
        {% set maxTick = max(maxTick, queue.tick) %}
    {% endfor %}
{% endfor %}

<table class="table table-bordered" style="display: table;">
    <thead>
    <tr style="background-color: #f5f5f5;">
        <th>
            <i class="fa fa-clock-o fa-fw"></i>++
        </th>
        {% for tick in range(minTick, maxTick) %}
            <th>{{ loop.index }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for resourceName in resourceNames %}
        <tr>
            {% for resourceQueues in queues %}
                {% if resourceQueues.kingdomResource.resource.name == resourceName %}
                    <td style="white-space: nowrap; background-color: #f5f5f5;">
                        {% if resourceQueues.kingdomResource.resource.name == 'Civilian' %}
                            <i class="fa fa-users fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Housing' %}
                            <i class="fa fa-home fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Material' %}
                            <i class="fa fa-cubes fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Military' %}
                            <i class="fa fa-fighter-jet fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Hacker' %}
                            <i class="fa fa-user-secret fa-fw"></i>
                        {% endif %}
                        <strong>{{ resourceQueues.kingdomResource.quantity|number_format }}</strong>
                    </td>
                    {% for tick in range(minTick, maxTick) %}
                        {% set quantity = 0 %}
                        {% for queue in resourceQueues.queues %}
                            {% if tick == queue.tick %}
                                {% set quantity = quantity + queue.quantity %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ quantity != 0 ? quantity|number_format : '' }}</td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>