{% set resourceNames = ['Civilian', 'Material', 'Housing', 'Military', 'Hacker'] %}

<table class="table table-bordered">
    <tbody>
    <tr style="font-size: 20px;">
        {% for resourceName in resourceNames %}
            {% for resourceQueues in queues %}
                {% if resourceQueues.kingdomResource.resource.name == resourceName %}
                    <td title="{{ resourceName }}">
                        {% if resourceQueues.kingdomResource.resource.name == 'Civilian' %}
                            <i class="fa fa-users fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Housing' %}
                            <i class="fa fa-home fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Material' %}
                            <i class="fa fa-cubes fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Military' %}
                            <i class="fa fa-fighter-jet fa-fw"></i>
                        {% elseif resourceQueues.kingdomResource.resource.name == 'Hacker' %}
                            <i class="fa fa-user-secret fa-fw"></i>
                        {% endif %}
                        <strong>{{ resourceQueues.kingdomResource.quantity|number_format }}</strong>
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    </tbody>
</table>